#background{
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    min-width: 100%; 
    min-height: 100%;
    overflow: hidden;
    z-index: -2;
}

#body{

    background-color: transparent;
    padding-top: 173px;
    width:80%;
    min-width:400px;
    max-width:700px;
    margin: 0 auto;

    justify-content: center;
    align-content: center;
 
}

h1{
    padding:auto;
    text-align: center;
    text-transform: uppercase;
    text-emphasis: bold;
}

.button{
    
    width: 200px;
    height: 150px;
    padding-top: 58%;
    background: linear-gradient(transparent 85%, white);

    border-bottom: 5px solid black;
    color:black;   
}


#music{
    color: rgb(255,200,0);
    display:inline;
    margin:10px;
}
#fashion{
    color:rgb(0,180,100);
    display:inline;
    margin:10px;
}
#events{
    color:rgb(220,0,50);
    display:inline;
    margin:10px;
}
#personal{
    color: rgb(20,0,200);
    display:inline;
    margin:10px
}










